* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: miFuente;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: miFuente;
  src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Overlock+SC&display=swap");
}
header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: black;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 10;
}
header a {
  width: 10%;
}
header .logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
header .logo-dos {
  font-family: "Forum", serif;
  display: flex;
  color: rgb(0, 0, 0);
  padding-left: 13px;
  font-size: 35px;
}
header nav {
  width: 90%;
}

main .container-grid {
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
main .container-grid .item0 {
  font-size: 30px;
  grid-column: 2/5;
  grid-row: 4/5;
}
main .container-grid .item1 {
  font-size: 18px;
  grid-column: 2/5;
  grid-row: 6/7;
}
main .container-grid .item2 {
  grid-column: 6/7;
  grid-row: 4/8;
}
main .container-grid .item2 .png-grid {
  width: 300px;
  height: 300px;
}
main .container-grid .item3 {
  color: black;
  font-size: 20px;
  width: 150px;
  height: 35px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  border-radius: 15px;
  background-color: rgb(238, 228, 96);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  order: 1;
  position: relative;
  left: 200px;
  bottom: 170px;
}
main .container-grid .item4 {
  grid-column: 7/8;
  grid-row: 5/6;
  background-color: rgb(238, 228, 96);
  color: black;
  border-radius: 15px;
  width: 150px;
  height: 35px;
  font-size: 20px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  top: 90px;
  right: 100px;
}
main .container-grid .item5 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: rgb(238, 228, 96);
  color: black;
  border-radius: 15px;
  width: 150px;
  height: 35px;
  font-size: 20px;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: relative;
  right: 320PX;
}
main .contenedor-card {
  color: white;
  display: grid;
  width: 100%;
  height: 1000px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #223320;
}
main .contenedor-card .titulo-medio {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
}
main .contenedor-card .parrafo-medio-menosuno {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  font-size: 20px;
}
main .contenedor-card .parrafo-medio-cero {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}
main .contenedor-card .parrafo-medio-cero .gato-png {
  width: 400px;
  height: 400px;
  background-color: rgb(238, 228, 96);
  box-shadow: black 20px 20px 20px 20px;
  object-fit: contain;
  border-radius: 35px;
}
main .contenedor-card .parrafo-medio {
  font-size: 18px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
main .contenedor-card .parrafo-medio-dos {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
main .contenedor-card .parrafo-medio-tres {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
main .contenedor-info {
  width: 100%;
  height: 1000px;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}
main .contenedor-info .card-uno {
  grid-column: 2/3;
  grid-row: 2/3;
}
main .contenedor-info .botones {
  margin: 50PX;
}
main .contenedor-info .botones button a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(238, 228, 96);
  color: black;
  margin: -10px;
  padding: 30px;
  border-radius: 10px;
}
main .contenedor-info .card-dos {
  grid-column: 4/6;
  grid-row: 2/6;
  justify-content: center;
  justify-items: center;
}
main .contenedor-info .card-tres {
  grid-column: 7/8;
  grid-row: 2/3;
}
main .contenedor-grid-grupal {
  display: grid;
  width: 100%;
  height: 1000px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding-top: 120px;
}
main .contenedor-grid-grupal .objeto-tt {
  grid-column: 4/6;
  grid-row: 3/4;
  font-size: 60px;
}
main .contenedor-grid-grupal .objeto-cero {
  grid-column: 4/6;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}
main .contenedor-grid-grupal .objeto-cero .objeto-cero P {
  font-size: 40px;
}
main .contenedor-grid-grupal .objeto-uno {
  grid-column: 2/3;
  grid-row: 4/5;
  position: relative;
  right: 40px;
}
main .contenedor-grid-grupal .objeto-uno .img-png {
  width: 200PX;
  height: 200PX;
  object-fit: contain;
}
main .contenedor-grid-grupal .objeto-dos {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: end;
  position: relative;
  left: 40px;
  order: 1;
}
main .contenedor-grid-grupal .objeto-dos .img-png {
  width: 200PX;
  height: 200PX;
  object-fit: contain;
}
main .contenedor-grid-grupal .objeto-tres {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: center;
  position: relative;
  left: 1px;
}
main .contenedor-grid-grupal .objeto-tres .img-png {
  width: 200PX;
  height: 200PX;
  object-fit: contain;
}
main .contenedor-grid-grupal .objeto-cuatro {
  grid-column: 3/4;
  grid-row: 4/5;
  order: 3;
  justify-self: start;
}
main .contenedor-grid-grupal .objeto-cuatro .img-png {
  width: 200PX;
  height: 200PX;
  object-fit: contain;
}
main .section-container-uno {
  font-size: 18px;
}
main .section-container-uno h1 {
  font-size: 25px;
}
main .section-container-uno .section-principal-uno {
  width: 100%;
  height: 800px;
  display: grid;
  margin-bottom: 200px;
  background-color: #223320;
  box-shadow: black 20px 20px 20px 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
main .section-container-uno .section-principal-uno .parrafo-uno {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  justify-self: center;
  align-self: center;
  font-size: 35px;
  color: white;
}
main .section-container-uno .section-principal-uno .parrafo-uno h1 {
  font-size: 50px;
}
main .section-container-uno .section-principal-uno .parrafo-dos {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
  font-size: 35px;
  color: white;
}
main .section-container-uno .section-principal-uno .parrafo-dos h1 {
  font-size: 50px;
}
main .section-container-uno .section-principal-uno .parrafo-tres {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-self: center;
  align-self: center;
}
main .section-container-uno .section-principal-uno .parrafo-tres button a {
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(238, 228, 96);
  color: black;
  margin: -10px;
  padding: 30px;
  border-radius: 10px;
}
main .section-container-uno .section-principal-uno .parrafo-menos-cuatro {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}
main .section-container-uno .section-principal-uno .parrafo-menos-cuatro .patas-gato {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
}
main .contenedor-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 200px;
}
main .contenedor-contacto .primera-card {
  gap: 30px;
  width: 350px;
  height: 500px;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: #223320;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  box-shadow: black 10PX 10PX 10PX 10PX;
  border-radius: 30px;
}
main .contenedor-contacto .segunda-card {
  gap: 30px;
  width: 350px;
  height: 500px;
  font-size: 18px;
  margin-bottom: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #223320;
  box-shadow: black 10px 10px 10px 10px;
  border-radius: 30px;
}
main .contenedor-contacto .tercera-card {
  gap: 30px;
  width: 350px;
  height: 500px;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: #223320;
  box-shadow: black 10px 10px 10px 10px;
  border-radius: 30px;
}
main .contenedor-contacto .foto1 {
  width: 300PX;
  height: 300PX;
  object-fit: contain;
}
main .grid-causa .grid-apoyar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 1000px;
  background-color: #223320;
  padding-top: 200PX;
}
main .grid-causa .grid-apoyar .grid-apoyar-uno {
  grid-column: 4/6;
  grid-row: 3/5;
  align-self: center;
  justify-self: center;
  color: black;
  border-radius: 30PX;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  order: 1;
  color: white;
}
main .grid-causa .grid-apoyar .imagen-main {
  grid-column: 2/5;
  grid-row: 1/7;
}
main .grid-causa .grid-apoyar .imagen-main .img-causa {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .section-container-dos {
  font-size: 25PX;
}
main .section-container-dos .section-principal-dos {
  width: 100%;
  height: 800px;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
main .section-container-dos .section-principal-dos .parrafo-cuatro {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
main .section-container-dos .section-principal-dos .parrafo-cinco {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
main .section-container-dos .section-principal-dos .parrafo-seis {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5;
}
main .section-container-dos .section-principal-dos .parrafo-siete {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-self: center;
  align-self: center;
}
main .section-container-dos .section-principal-dos .parrafo-siete button a {
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(238, 228, 96);
  color: black;
  margin: -10px;
  padding: 30px;
  border-radius: 10px;
}
main .main-logros .main-logros-dos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 1000px;
  padding-top: 200PX;
  background-color: #223320;
}
main .main-logros .main-logros-dos .main-logros-tres {
  grid-column: 3/5;
  grid-row: 3/5;
  justify-self: center;
  align-self: center;
  box-shadow: black 20px 20px 20px 20px;
}
main .main-logros .main-logros-dos .main-logros-tres .pato-amarillo {
  width: 793PX;
  height: 468PX;
  object-fit: contain;
}
main .main-logros .main-logros-dos .main-logro-cuatro {
  grid-column: 1/3;
  grid-row: 3/5;
  align-self: center;
  justify-self: center;
  box-shadow: black 20px 20px 20px 20px;
}
main .main-logros .main-logros-dos .main-logro-cuatro .burro {
  width: 400PX;
  height: 300PX;
  object-fit: contain;
}
main .main-logros .main-logros-dos .main-logro-cinco {
  grid-column: 5/7;
  grid-row: 3/5;
  align-self: center;
  justify-self: center;
  box-shadow: black 20px 20px 20px 20px;
}
main .main-logros .main-logros-dos .main-logro-cinco .nandu {
  width: 500PX;
  height: 270PX;
  object-fit: contain;
}
main .main-logros .main-logros-dos .parrafo-logro {
  grid-column: 2/6;
  grid-row: 3/5;
  justify-self: center;
  align-self: center;
  font-family: "Overlock SC", serif;
  color: white;
}
main .section-container-tres .section-principal-tres {
  width: 100%;
  height: 1000px;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
main .section-container-tres .section-principal-tres .parrafo-ocho {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  grid-row-end: 5;
}
main .section-container-tres .section-principal-tres .parrafo-nueve {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
main .section-container-tres .section-principal-tres .parrafo-diez {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5;
}
main .almacen-datos {
  justify-content: center;
  font-size: 30px;
}
main .almacen-datos .section-principal-cuatro {
  padding-top: 200px;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #223320;
  color: white;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
main .almacen-datos .section-principal-cuatro .parrafo-menos-catorce {
  grid-column: 4/6;
  grid-row: 2/3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
}
main .almacen-datos .section-principal-cuatro .parrafo-catorce {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  align-self: center;
}
main .almacen-datos .section-principal-cuatro .parrafo-trece {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-self: center;
  align-self: center;
}
main .almacen-datos .section-principal-cuatro .parrafo-trece button a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(238, 228, 96);
  color: black;
  margin: -10px;
  padding: 30px;
  border-radius: 10px;
}
main .contenedor-infok {
  display: flex;
  padding: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .contenedor-infok .card-info {
  gap: 30px;
  width: 350px;
  height: 650px;
  font-size: 18px;
  font-size: 22px;
  margin-bottom: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
main .contenedor-infok .card-info .pajaro {
  width: 200PX;
  height: 200px;
  object-fit: contain;
}
main .contenedor-infok .card-info .oveja {
  width: 200PX;
  height: 200px;
  object-fit: contain;
}
main .contenedor-infok .card-info h3 {
  font-size: 30PX;
  text-align: center;
}

footer .pie-dos {
  text-align: center;
  color: white;
  width: 100%;
  height: 200PX;
  background-color: #223320;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
footer .pie-dos .botones {
  margin: 50PX;
}
footer .pie-dos .botones button a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(238, 228, 96);
  color: black;
  margin: -10px;
  padding: 30px;
  border-radius: 10px;
}
footer .pie-dos h2 {
  padding: 20px;
}
footer .pie-tres {
  text-align: center;
  color: white;
  width: 100%;
  height: 200PX;
  background-color: #223320;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
footer .pie-tres .botones {
  margin: 50PX;
}
footer .pie-tres .botones button a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(238, 228, 96);
  color: black;
  margin: -10px;
  padding: 30px;
  border-radius: 10px;
}
footer .pie-tres h2 {
  padding: 20px;
}
footer .pie-cuatro {
  text-align: center;
  color: white;
  width: 100%;
  height: 200PX;
  background-color: #223320;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
footer .pie-cuatro .botones {
  margin: 50PX;
}
footer .pie-cuatro .botones button a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(238, 228, 96);
  color: black;
  margin: -10px;
  padding: 30px;
  border-radius: 10px;
}
footer .pie-cuatro h2 {
  padding: 20px;
}

.navbar {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
  font-family: "Forum", serif;
}
.navbar li {
  list-style: none;
  color: black;
}
.navbar li a {
  color: black;
  text-decoration: none;
}

@media (max-width: 1440px) {
  main .contenedor-contacto .tercera-card {
    margin: 50px;
  }
}
@media (max-width: 1024px) {
  main .contenedor-grid-grupal .objeto-tt h1 {
    font-size: 50px;
  }
  main .section-container-uno .section-principal-uno .parrafo-uno p {
    font-size: 22PX;
    padding: 10PX;
  }
  main .section-container-uno .section-principal-uno .parrafo-uno h1 {
    font-size: 35PX;
  }
  main .section-container-uno .section-principal-uno .parrafo-dos p {
    font-size: 22PX;
    padding: 10PX;
  }
  main .section-container-uno .section-principal-uno .parrafo-dos h1 {
    font-size: 35PX;
  }
  main .contenedor-contacto {
    margin: 100px;
  }
  main .main-logros {
    width: 1024PX;
  }
  main .main-logros .main-logros-dos .main-logros-tres {
    box-shadow: none;
  }
  main .main-logros .main-logros-dos .main-logros-tres .pato-amarillo {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  main .main-logros .main-logros-dos .main-logro-cuatro {
    box-shadow: none;
  }
  main .main-logros .main-logros-dos .main-logro-cuatro .burro {
    width: 290PX;
    height: 290PX;
    object-fit: contain;
  }
  main .main-logros .main-logros-dos .main-logro-cinco {
    box-shadow: none;
  }
  main .main-logros .main-logros-dos .main-logro-cinco .nandu {
    width: 350px;
    height: 350px;
    object-fit: contain;
  }
  main .section-container-tres .section-principal-tres {
    width: 1050px;
  }
  main .almacen-datos .section-container-cuatro .section-principal-cuatro .parrafo-menos-catorce h1 {
    font-size: 25PX;
  }
  main .almacen-datos .section-container-cuatro .section-principal-cuatro .parrafo-catorce {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header a .logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  main .container-grid {
    padding-top: 100px;
  }
  main .container-grid .item0 h1 {
    font-size: 30px;
  }
  main .container-grid .item1 {
    grid-column: 2/6;
  }
  main .container-grid .item2 {
    grid-column: 7/8;
  }
  main .container-grid .item2 .png-grid {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  main .container-grid .item4 {
    position: relative;
    top: -50px;
    left: 60px;
  }
  main .container-grid .item5 {
    left: -40px;
  }
  main .contenedor-card .titulo-medio h1 {
    font-size: 35px;
  }
  main .contenedor-card .parrafo-medio {
    grid-column: 2/5;
  }
  main .contenedor-card .parrafo-medio-tres {
    grid-column: 4/5;
  }
  main .contenedor-card .parrafo-medio-menosuno {
    grid-row: 5/6;
  }
  main .contenedor-grid-grupal .objeto-tt h1 {
    font-size: 40px;
  }
  main .section-container-uno .section-principal-uno .parrafo-uno h1 {
    font-size: 25px;
  }
  main .section-container-uno .section-principal-uno .parrafo-uno p {
    font-size: 18px;
  }
  main .section-container-uno .section-principal-uno .parrafo-dos h1 {
    font-size: 25px;
  }
  main .section-container-uno .section-principal-uno .parrafo-dos p {
    font-size: 18PX;
  }
  main .section-container-uno .section-principal-uno .parrafo-menos-cuatro .patas-gato {
    width: 120PX;
    height: 120PX;
  }
  main .contenedor-contacto .primera-card {
    margin-bottom: 80px;
  }
  main .main-logros {
    width: 1050PX;
  }
  footer .pie-cuatro {
    width: 1050PX;
  }
}
@media (max-width: 425px) {
  main .container-grid {
    width: 520px;
  }
  main .container-grid .item0 {
    grid-column: 5/6;
    grid-row: 3/4;
  }
  main .container-grid .item1 {
    grid-column: 5/6;
    grid-row: 5/6;
  }
  main .container-grid .item2 {
    grid-column: 5/6;
    grid-row: 7/8;
  }
  main .container-grid .item3 {
    display: none;
  }
  main .container-grid .item4 {
    display: none;
  }
  main .container-grid .item5 {
    display: none;
  }
  main .contenedor-card {
    width: 520px;
  }
  main .contenedor-card .titulo-medio h1 {
    font-size: 25PX;
  }
  main .contenedor-card .parrafo-medio-menosuno {
    grid-row: 6/7;
  }
  main .contenedor-card .parrafo-medio-menosuno h1 {
    font-size: 25px;
  }
  main .contenedor-card .parrafo-medio-cero {
    grid-row: 4/5;
  }
  main .contenedor-card .parrafo-medio-cero .gato-png {
    width: 200PX;
    height: 200PX;
  }
  main .contenedor-info {
    width: 520px;
  }
  main .contenedor-grid-grupal {
    width: 620px;
  }
  main .contenedor-grid-grupal .objeto-tt {
    grid-column: 2/5;
    align-self: center;
    justify-self: center;
  }
  main .contenedor-grid-grupal .objeto-cero {
    grid-column: 2/5;
    grid-row: 5/7;
    align-self: center;
    justify-self: center;
  }
  main .section-container-uno .section-principal-uno {
    width: 620px;
  }
  main .section-container-uno .section-principal-uno .parrafo-uno h1 {
    font-size: 20PX;
  }
  main .section-container-uno .section-principal-uno .parrafo-uno p {
    font-size: 16PX;
  }
  main .section-container-uno .section-principal-uno .parrafo-dos h1 {
    font-size: 20px;
  }
  main .section-container-uno .section-principal-uno .parrafo-dos p {
    font-size: 16PX;
  }
  main .contenedor-contacto .primera-card {
    margin-left: 60PX;
  }
  main .contenedor-contacto .segunda-card {
    margin-left: 60px;
  }
  main .contenedor-contacto .tercera-card {
    margin-left: 70px;
  }
  main .grid-causa {
    width: 520PX;
    height: 1000PX;
  }
  main .section-container-dos {
    width: 520PX;
    height: 600PX;
    margin-bottom: 200px;
  }
  main .almacen-datos {
    width: 520px;
  }
  main .almacen-datos .section-container-cuatro .section-principal-cuatro .parrafo-trece {
    grid-row: 6/7;
  }
  footer {
    width: 520px;
  }
  footer .pie-tres {
    width: 620px;
  }
}

/*# sourceMappingURL=style.css.map */
