footer{
    .pie-dos{
        text-align: center;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 200PX;
        background-color:#223320;
        justify-content: center;
        align-content: center;
        justify-items: center;
        .botones{
            margin: 50PX;
            button a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
            background-color:  rgb(238, 228, 96);
            color: rgb(0, 0, 0);
            margin: -10px;
            padding: 30px;
            border-radius: 10px;
            }
        }
        h2{
            padding: 20px;
        }
}
.pie-tres{
    text-align: center;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 200PX;
        background-color:#223320;
        justify-content: center;
        align-content: center;
        justify-items: center;
        .botones{
            margin: 50PX;
            button a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
            background-color:  rgb(238, 228, 96);
            color: rgb(0, 0, 0);
            margin: -10px;
            padding: 30px;
            border-radius: 10px;
            }
        }
        h2{
            padding: 20px;
        }
}

.pie-cuatro{
    text-align: center;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 200PX;
        background-color:#223320;
        justify-content: center;
        align-content: center;
        justify-items: center;
        .botones{
            margin: 50PX;
            button a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
            background-color:  rgb(238, 228, 96);
            color: rgb(0, 0, 0);
            margin: -10px;
            padding: 30px;
            border-radius: 10px;
            }
        }
        h2{
            padding: 20px;
        }
}
}