footer{
    .pie-dos{
        text-align: center;
        color: $color-dos;
        width: 100%;
        height: 200PX;
        background-color:$color-uno;
        justify-content: center;
        align-content: center;
        justify-items: center;
        .botones{
            margin: 50PX;
            button a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
            background-color:  $color-cuatro;
            color: $color-tres;
            margin: -10px;
            padding: 30px;
            border-radius: 10px;
            }
        }
        h2{
            padding: 20px;
        }
}
.pie-tres{
    text-align: center;
        color: $color-dos;
        width: 100%;
        height: 200PX;
        background-color:$color-uno;
        justify-content: center;
        align-content: center;
        justify-items: center;
        .botones{
            margin: 50PX;
            button a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
            background-color:  $color-cuatro;
            color: $color-tres;
            margin: -10px;
            padding: 30px;
            border-radius: 10px;
            }
        }
        h2{
            padding: 20px;
        }
}

.pie-cuatro{
    text-align: center;
        color: $color-dos;
        width: 100%;
        height: 200PX;
        background-color:$color-uno;
        justify-content: center;
        align-content: center;
        justify-items: center;
        .botones{
            margin: 50PX;
            button a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
            background-color:  $color-cuatro;
            color: $color-tres;
            margin: -10px;
            padding: 30px;
            border-radius: 10px;
            }
        }
        h2{
            padding: 20px;
        }
}
}