@media(max-width: 1024px){
    main{
        .contenedor-grid-grupal{
            .objeto-tt{
                h1{
                    font-size: 50px;
                }
            }
        }
        .section-container-uno{
        .section-principal-uno{
            .parrafo-uno{
                p{
                    font-size: 22PX;
                    padding: 10PX;
                }
                h1{
                    font-size: 35PX;
                }
            }
            .parrafo-dos{
                p{
                    font-size: 22PX;
                    padding: 10PX;
                }
                h1{
                    font-size: 35PX;
                }
            }
        }
        }
        .contenedor-contacto{
            margin: 100px;
        }


        .main-logros{
            width: 1024PX;
            .main-logros-dos{
                .main-logros-tres{
                    box-shadow: none;
                    .pato-amarillo{
                        width: 400px;
                        height: 400px;
                        object-fit: contain;
                    }
                }
                .main-logro-cuatro{
                    box-shadow: none;
                    .burro{
                        width: 290PX;
                        height: 290PX;
                        object-fit: contain;
                    }
                }
                .main-logro-cinco{
                    box-shadow: none;
                    .nandu{
                        width: 350px;
                        height: 350px;
                        object-fit: contain;
                    }
                }
            }
            
        }
        .section-container-tres{
            .section-principal-tres{
                width: 1050px;
            }
        }


        .almacen-datos{
            .section-container-cuatro{
                .section-principal-cuatro{
                    .parrafo-menos-catorce{
                        h1{
                            font-size: 25PX;
                        }
                    }
                    .parrafo-catorce{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}