@media(max-width: 1440px){
    main{
        .contenedor-contacto{
            .tercera-card{
                margin: 50px;
            }
        }


        .grid-causa{
            .grid-apoyar{
                .grid-apoyar-uno{
                    grid-column: 3/6;
                    grid-row: 5/6;
                    align-self: center;
                    justify-self: center;
                }
                .imagen-main{
                    grid-row: 1/5;
                    grid-column: 4/5;
                    align-self: center;
                    justify-self: center;
                    .img-causa{
                        width: 500px;
                        height: 500px;
                    }
                }
            }
        }
    }
}