header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #9e0707;
    color: black;
    align-items: center;
        justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    position:fixed;
    z-index: 10;
}